form{
    width: 40%;
    margin: 100px auto;
}
form input {
    display: block;
    width: 90%;
    margin: 15px auto;
    padding: 10px;
}
form button {
    background: none;
    border: 2px solid black;
    padding: 10px;
}
form button:hover{
    background-color: rgb(176, 176, 176);
}