.taskList{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    flex-direction: column;
}
.tasks{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    flex-direction: column;
}