.task {
    display: flex;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgb(222, 222, 222);
}
.task p {
    font-size: 15px;
    color: rgb(83, 83, 83);
}

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkBox{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background: rgb(220, 220, 220);
    margin: 15px;
    cursor: pointer;
}
.checkBox:hover {
    background: rgb(191, 191, 191);
}
.checked{
    background: rgb(191, 191, 191);
}
.checked:hover{
    background: rgb(220, 220, 220);;
}
.deleteBtn{
    background-color: none;
    padding: 5px;
    font-size: 13px;
    border: black 1px solid;
    cursor: pointer;
}

.deleteBtn:hover {
    background: rgb(191, 191, 191);
}